export GLM_API_KEY="{{ onepasswordRead "op://Private/qulejdgqsjyb75eiwrb5ul3kv4/key" }}"
export GITLAB_ACCESS_TOKEN="{{ onepasswordRead "op://Work/n45byn73aoyep64m2sqss6ufwe/token" }}"
export INFRACOST_API_KEY="{{ onepasswordRead "op://Private/opjadhhudbd4ejsshqxroduj5i/token" }}"
