[settings]
lockfile = true
idiomatic_version_file_enable_tools = ["terraform", "opentofu", "node", "go", "python"]
go_set_gobin = false

[tools]
awscli = { version = "latest", symlink_bins = true }
azure-kubelogin = "latest"
go = "latest"
helm = "latest"
minikube = "latest"
node = "latest"
pipx = "latest"
pnpm = "latest"
python = "latest"
telepresence = "latest"
uv = "latest"
vcluster = "latest"
